.field-radio {
  column-count: 3
 }

.field-radio label:nth-of-type(1) {
 background: #a4f5c0
}

.field-radio label:nth-of-type(2) {
 background: #EACDC2
}

.field-radio label:nth-of-type(3) {
 background: #c4d7e1
}

.da-form-group {
    background: #fafafa;
    padding: 10px;
}

.btn-light {
    background: white
}

.da-top-label {
  color: #21262E
}

#dablock {
  font-family: Open Sans, sans-serif
}

.nav-pills .nav-link {
  padding:10px;
  margin: 20px 0;
  display:block
}