.field-radio {
  column-count: 3
 }

/* .field-radio label:nth-of-type(1) {
 background: #a4f5c0;
 border: none
} */

/* .field-radio label:nth-of-type(2) {
 background: #EACDC2;
 border:none
} */

/* .field-radio label:nth-of-type(3) {
 background: #c4d7e1;
 border: none
} */

.da-form-group {
    background: #eee;
    padding: 10px;
    border-radius:0.4rem;
}

.btn-light {
    background: white
}

.da-top-label {
  color: #21262E
}

#dablock {
  font-family: Open Sans, sans-serif
}

.nav-pills .nav-link {
  padding:10px;
  margin: 20px 0;
  display:block;
  border-radius: 0;
  color:#21262E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color:#D70B3B;
  font-weight: 800;
  background:none;
}

h1 {
  text-transform: none;
}

/* Style for the stepper container */
.danav {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #333; /* Left border for the entire box */
  padding-left: 20px; /* Adjust as needed */
}

/* Style for each step (nav-link) */
.danavlink {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between steps as needed */
}

/* Style for the step circle */
.danavlink::before {
  content: attr(data-index); /* Use the data-index attribute as the step number */
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px; /* Adjust spacing between circle and content as needed */
  margin-left:-45px;
  position:absolute;
}

/* Style for the active step (add .active class to the appropriate nav-link) */
.danavlink.active::before {
  background-color: #D70B3B; /* Change the color for the active step */
}

/* Hover style for the nav-link */
.danavlink:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .danav {
    border-left: none; /* Remove the left border */
    padding-left: 0; /* Remove the left padding */
  }

  /* Adjust the circle size for smaller screens */
  .danavlink::before {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .danavlink::before {
  content: none
}
}

.da-button-set.da-field-buttons {
  display: flex;
  justify-content: space-between;
}